<script type="text/x-red" data-template-name="ruter-lines">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-line_id"><i class="fa fa-tag"></i> Line ID</label>
        <input type="text" id="node-input-line_id" placeholder="line_id">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-stop_id"><i class="fa fa-tag"></i> Stop ID</label>
        <input type="text" id="node-input-stop_<id" placeholder="stop_id">
    </div>
</script>

<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="ruter-lines">
    <p>This component can be used to retrieve information about lines from the reisapi delivered by Ruter.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('ruter-lines', {
        category: 'OTD',
        defaults: {
            name: {
                value: ""
            },
            line_id: {
                value: ""
            },
            stop_id: {
                value: ""
            }
        },
        inputs: 1,
        outputs: 1,
        color: "#FFFFFF",
        icon: "hash.png",
        label: function () {
            return this.name || " Line-reisapi node ";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        }
    });
</script>