<script type="text/x-red" data-template-name="ruter-travel">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="name">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-from"><i class="fa fa-tag"></i> From</label>
        <input type="text" id="node-input-from" placeholder="from">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-to"><i class="fa fa-tag"></i> To</label>
        <input type="text" id="node-input-to" placeholder="to">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-datetime"><i class="fa fa-tag"></i> Datetime</label>
        <input type="text" id="node-input-datetime" placeholder="ddMMYYYYhhmmss">
    </div>

    <br/>
    <div class="form-row">
        <label for="node-input-isafter"><i class="fa fa-tag"></i> Is After</label>
        <input type="checkbox" id="node-input-isafter" placeholder="isafter">
        </input>
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-ttype"><i class="fa fa-tag"></i> Transport type</label>
        <input type="text" id="node-input-ttype" placeholder="ttype">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-linenames"><i class="fa fa-tag"></i> Linenames</label>
        <input type="text" id="node-input-linenames" placeholder="linenames">
    </div>

    <br/>

    <div class="form-row">
        <label for="node-input-proposals"><i class="fa fa-tag"></i> Proposals</label>
        <input type="numerical" id="node-input-proposals" placeholder="proposals">
    </div>

</script>

<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="ruter-travel">
    <p>This component can be used to find a travel.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('ruter-travel', {
        category: 'OTD',
        defaults: {
            name: {
                value: ""
            },
            from: {
                value: ""
            },
            to: {
                value: ""
            },
            isafter: {
                value: ""
            },
            datetime: {
                value: ""
            },
            ttype: {
                value: ""
            },
            proposals: {
                value: 5
            },
            linenames: {
                value: ""
            }
        },
        inputs: 1,
        outputs: 1,
        color: "#FFFFFF",
        label: function () {
            return this.name || " Travel-reisapi node ";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        }
    });
</script>